
<div class="grid-container">
  <h1 class="splash-title">Billy Budget</h1>
  <%= image_tag "budget.png", class:"splash-pic" %>
  <div class="splash-btns-container light-text">
    <a href="/users/sign_in", class="white-text blue-bg splash-btns">LOG IN</a>  
    <a href="/users/sign_up", class="gray-text splash-btns">SIGN UP</a>
  </div>
</div>