<nav class="nav-flex">
  <%= link_to image_tag("back.png", width: 30), "/" , class:"invert margin" %>
  <div class="flex items-center">
    <div class="flex-shrink-0 text-white">
      <%= @page_name %>
    </div>
  </div>
  <%= image_tag "search.png", width: 30, class:"invert" %>
</nav>
